{% extends 'main/header.html' %}

{% block content %}


<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>



<div class="container">

	<p style="text-align:justify;">
	<br><br>
	<h3 style="text-align:center;"><b>About Us</b></h3><br><br>


	FITSEC is Florida Tech's Cyber Security team who is focused on competing in Cybersecurity competitions. Not only do we offer students the opportunity to hone their skills with respect to hacking and counter-hacking, but we also are building connections with industry to provide a pathway for potential employment opportunities. We believe the best way to stop a hacker is to know their methods.<br><br>


	<h3 style="text-align:center;"><b>Defensive Team</b></h3><br><br>

      <ul class = "collapsible" data-collapsible = "accordion">
         <li>
            <div class = "collapsible-header" style="background-color:#b71c1c;color:white;">Cyber Defense</div>
            <div class = "collapsible-body"><p>Cyber Defense competitions revolve around keeping a red team out of the network through various defensive methodologies and technologies. Some competitions such as Hivestorm are focused on patching and reconfiguring vulnerable machines. All defensive competitions are fast-paced and require tenacity and quick thinking. Florida Tech offers a Cyber Defense course that helps students prepare for careers in securing networks from hackers.</p></div>
         </li>
      </ul>





	<h3 style="text-align:center;"><b>Offensive Team</b></h3><br><br>


      <ul class = "collapsible" data-collapsible = "accordion">
         <li>
            <div class = "collapsible-header" style="background-color:#b71c1c;color:white;">CTF (capture the Flag)</div>
            <div class = "collapsible-body"><p>Capture the flag competitions pit teams against each other in a race against time to solve as many security related challenges as possible. CTFs are typically exploit based, however, some CTFs are defensive as well. The most typical style of CTF that FITSEC competes in are jeopardy-style CTFs where competitors analyze web applications and programs in order to retrieve flags through various means. These flags are then submitted for points to climb scoreboard. Courses that are offered at Florida Tech that help build the foundation necessary to tackle these problems include Introduction to Cybersecurity, Introduction to Reverse Engineering, and Introduction to Vulnerability Research.</p></div>
         </li>

         <li>
            <div class = "collapsible-header" style="background-color:#b71c1c;color:white;">Penetration Testing and Red Teaming</div>
            <div class = "collapsible-body"><p>Penetration testing competitions are aimed towards identifying vulnerabilities in a network and exploiting them to gain additional footholds and establish persistence. The same methodologies used by hackers are used to test networks. These exercises end in the pen testing team writing a report based on their findings where they can recommend to the blue team how best to update their security. For red teaming events, the red team plays against a live blue team where they actively try to keep the red team from gaining access.</p></div>
         </li>

      </ul>








	<h3 style="text-align:center;"><b>FAQ</b></h3><br><br>

	<ol>
		<li><b>Q: Do I need experience to join?</b></li>
		<b>A: </b>Nope! We have a training pipeline created to teach the basics to newcomers. This pipeline gives each new member a solid foundation that enables them to delve deeper into areas of interest and specialize to be more of an asset to the team.
		<li><b>Q: Do I need to be Computer Science to join?</b></li>
		<b>A: </b>Absolutely not! Being a Computer Science or Computer Engineering student definitely gives you a good start, but anyone is capable of learning about cybersecurity. In fact, some of our competitors have been Aerospace Engineers.
		<li><b>Q: When does FITSEC meet?</b></li>
		<b>A: </b>It varies per semester. We send out a poll early in the semester to identify times that are the most convenient for the members to maximize attendance.
		<li><b>Q: Where does FITSEC meet?</b></li>
		<b>A: </b>This has varied in the past, however, our permanent home is now Crawford 524. This is the room for all cybersecurity classes and also FITSEC's clubhouse.	
		<li><b>Q: What does FITSEC stand for?</b></li>
		<b>A: </b>FITSEC stands for FITSEC Information Technology Security. Its a recursive acronym, similar to GNU, or WINE.
	</ol><br><br>



  </p>
</div>

{% endblock %}
