{% extends 'main/base.html' %}

{% load static %}
{% block content %}



<br>


<div class="container">
  <h4 style="text-align:center;"><b>User Portal</b></h4>
  <br><br>
  <h6 style="text-align:justify;"><b>Welcome, {{user.username}}.</b></h6>
  <p style="text-align:justify;">

  <br><h6 style="text-align:justify;"><b>FITCOINS: {{fitcoins}}</b></h6>
  
  <br><h6 style="text-align:justify;"><b>Training Completion</b></h6>
  <label for="total">Total Modules Completed: {{completed|length}}/{{modules|length}}</label><br>
  <progress id="total" value="{{completed|length}}" max="{{modules|length}}">ratio</progress><br><br>
  <h6><b>Domain Completion</b></h6>
  {% for key, value in domainDict.items %}
  &nbsp;&nbsp;&nbsp;&nbsp;<label for="total">{{key.title}} Modules Completed: {{value.1}}/{{value.0}}</label><br>
  &nbsp;&nbsp;&nbsp;&nbsp;<progress id="total" value="{{value.1}}" max="{{value.0}}">ratio</progress><br><br>
  {% endfor %}
  <h6><b>Category Completion</b></h6>
  {% for key, value in catDict.items %}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="total">{{key.title}} Modules Completed: {{value.1}}/{{value.0}}</label><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<progress id="total" value="{{value.1}}" max="{{value.0}}">ratio</progress><br><br>
  {% endfor %}
  </p>
</div>


{% endblock %}
