{% load static %}
<head>
	<meta name="google-site-verification" content="8xaTMITRBeUvM8hpM05sdSH9gX42vR8tbD_DAb0U8oY">
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
         @font-face {
              font-family: Dodger;
              src: url({% static 'fonts/dodger/dodger3_1.ttf' %})
         }
	
     </style>
</head>


<body>
  <nav>
    <div class="nav-wrapper #b71c1c red darken-4">
	    <a href="#" class="brand-logo"><img style="width:60px; height:60px;" src="{% static 'images/FITSECCrest.png' %}"/></a>
	<ul id="nav-mobile" class="right hide-on-med-and-down">
      	{% include 'main/includes/navbarprofile.html' %}
      </ul>
    </div>
  </nav>
  {% include 'main/includes/messaging.html' %}
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

    


<footer class="page-footer #9e9e9e grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">FITSEC's Mission</h5>
        <p class="grey-text text-lighten-4">To provide high quality technical opportunities in the cybsersecurity domain to the students of Florida Tech.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/terms">Terms and conditions</a></li>
          <li><a class="grey-text text-lighten-3" href="/press">Press</a></li>
          <li><a class="grey-text text-lighten-3" href="/sponsors">Sponsors</a></li>
          <li><a class="grey-text text-lighten-3" href="/news">Recent News</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Copyright FITSEC
    <a class="grey-text text-lighten-4 right" href="/contact">Contact Us</a>
    </div>
  </div>
</footer>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>
