{% extends 'main/header.html' %}


{% load static %}
{% block content %}

<br>

<div class="container">
<h4 style="text-align:center;"><b>Bug Bounty Program</b></h4>
<br>
  <p style="text-align:justify;"> 
  FITSEC's website has a bug bounty program. The bug bounty is limited to the fitsec.org domain and only current students of Florida Tech are authorized to conduct testing. The bug bounty varies from security critical errors to simple bugs found in the website that dimish the user experience. Bug bounty awards are issued in varying amounts of FITcoins depending on the impact. The award amount will be determined by the Executive Board of FITSEC. Should you discover a bug, in order to be eligible for compensation you must write a document illustrating the bug, the impact, how to replicate the bug, and how to fix it. 
  </p>
</div>
<br><br>

{% endblock %}
