{% load static %}
<head>
	<meta name="google-site-verification" content="8xaTMITRBeUvM8hpM05sdSH9gX42vR8tbD_DAb0U8oY">
    <!-- Prism CSS -->
    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>


<body>
     <nav class="navbar navbar-expand-lg">
          <a href="/" class="navbar-brand">
               <img style="width:60px; height:60px;" src="{% static 'images/FITSECCrest.png' %}"/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" ariaexpanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                    {% include 'main/includes/navbaritems.html' %}
               </ul>
               <ul class="navbar-nav navbar-right">
                    <li class="nav-item mx-3"><div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="/login">Login</a></div></li>
               </ul>
          </div>
     </nav>
  {% include 'main/includes/messaging.html' %}
  {% block content %}
  {% endblock %}
</body>




<footer style="background-color: #181818">
  <div class="container pt-3">
    <div class="row">
      <div class="col-8">
        <h3 style="color: #ffffff">FITSEC's Mission</h3>
        <p style="color: #969899">To provide high quality technical opportunities in the cybsersecurity domain to the students of Florida Tech.</p>
      </div>
      <div class="col-4">
        <h3 style="color: #ffffff">Links</h3>
        <ul>
          <li><a class="nav-link" href="/terms">Terms and conditions</a></li>
          <li><a class="nav-link" href="/press">Press</a></li>
          <li><a class="nav-link" href="/sponsors">Sponsors</a></li>
          <li><a class="nav-link" href="/news">Recent News</a></li>
        </ul>
      </div>
    </div>
    <hr style="background-color: #969899">
  <div class="row">
    <div class="col-6"><p style="color: #969899">© 2020 Copyright FITSEC</p></div>
    <div class="col-6"><p style="text-align: right; float: right;"><a class="nav-link" href="/contact">Contact Us</a></p></div>
  </div>
  </div>
</footer>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>
