{% extends 'main/header.html' %}


{% load static %}
{% block content %}

<br>

<div class="container-fluid">
     <div style="margin-top: 75px; margin-bottom: 75px;">
          <div class="row justify-content-md-center">
               <div class="col-6"><img style="width:100%;" src="{% static 'images/chevron.png' %}"/></div>
          </div>
     	<h3 style="text-align:center; color:rgb(150, 152, 153);""><b>Offensive and Defensive Collegiate Cybsersecurity</b></h4>
     </div>
     <div class="row px-5" style="margin-top: 200px; margin-bottom: 200px;">
          <div class="col-6"><img class ="img-thumbnail shadow" style="width:100%;" src="{% static 'images/hacking.jpg' %}" /></div>
          <div class="col-6 my-auto">
               <h1 style="text-align: center; color: #ffffff">A Hacker's Paradise</h1>
               <p style="text-align:justify; color:#969899;"> FITSEC is Florida Tech's Cyber Security team who is focused on competing in Cybersecurity Competitions. Not only do we offer students the opportunity to hone their skills with respect to hacking and counter-hacking, but we also are building connections with industry to provide a pathway for potential employment opportunities. We believe the best way to stop a hacker is to know their methods.</p>
          </div>
     </div>
     <div class="row px-5" style="margin-top: 200px; margin-bottom: 200px;">
          <div class="col-6 my-auto">
               <h1 style="text-align: center; color: #ffffff">Travel to CTFs</h1>
               <p style="text-align: justify; color: #969899;">FITSEC travels to a variety of Capture the Flag competitions throughout the nation every year. You can travel with the team no matter what your skill level is.</p>
          </div>
          <div class="col-6"><img class="img-thumbnail shadow" style="width: 100%;" src="{% static 'images/ctf.jpg' %}" /> </div>
     </div>
     <div class="row px-5" style="margin-top: 200px; margin-bottom:200px;">
          <div class="col-6"><img class="img-thumbnail shadow" style="width: 100%;" src="{% static 'images/singularity.jpg' %}" /></div>
          <div class="col-6 my-auto">
               <h1 style="text-align: center; color: #ffffff">Learn Something New</h1>
               <p style="text-align: justify; color: #969899;">FITSEC offers many workshops and practice CTFs in order to help teach members of all skill levels.</p>
          </div>
     </div>
     <div class="row px-5" style="margin-top: 200px; margin-bottom: 200px;">
          <div class="col-6 my-auto">
               <h1 style="text-align: center; color: #ffffff">Make New Friends</h1>
               <p style="text-align: justify; color: #969899;">FITSEC gives members the opportunity to find new friends who share similar interests.</p>
          </div>
          <div class="col-6"><img class="img-thumbnail shadow" style="width: 100%" src="{% static 'images/fiveguys.jpg' %}" /></div>
     </div>
</div>


{% endblock %}
