{% extends 'main/header.html' %}


{% load static %}
{% block content %}

<br>

<div class="container-fluid">
     <div style="margin-top: 75px; margin-bottom: 75px;">
          <div class="row justify-content-md-center">
               <div class="col-6"><img style="width:100%;" src="{% static 'images/chevron.png' %}"/></div>
          </div>
     	<h3 style="text-align:center; color:rgb(150, 152, 153);""><b>Offensive and Defensive Collegiate Cybsersecurity</b></h4>
     </div>
     <div class="row px-5" style="margin-top: 200px; margin-bottom: 200px;">
          <img class ="col-6" style="width:100%;" src="{% static 'images/hacking.jpg' %}" />
          <p class="col-6" style="text-align:justify; color:rgb(150, 152, 153);"> FITSEC is Florida Tech's Cyber Security team who is focused on competing in Cybersecurity Competitions. Not only do we offer students the opportunity to hone their skills with respect to hacking and counter-hacking, but we also are building connections with industry to provide a pathway for potential employment opportunities. We believe the best way to stop a hacker is to know their methods.</p>
     </div>
</div>


{% endblock %}
