{% extends 'main/header.html' %}

{% load static %}

{% block content %}

<br><br>
{% if all_writeups %}
<h4 style="text-align:center;"><b>Writeups</b></h4><br><br>
<p style="text-align:justify;"> Writeups are a hacker's way of not only sharing technical methods as an educational tool, but also their way of bragging about their abilities as a hacker. Below are some of the challenges we have completed.<br><br>
  <div class="row">
    {% for writeup in all_writeups %}
        <div class="col s12 m6 l4">
            <a href="writeups/{{writeup.slug}}", style="color:#000">
                <div class="card hoverable">
                    <div class="card-content">
                        <div class="card-title">{{writeup.title}}</div>
                        <p>{{writeup.description}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<br><br>
</p>
{% endif %}

{% if writeup %}
<h4 style="text-align:center;"><b>{{writeup.title}}</b></h4>
<h5 style="text-align:center;"><b>Author: {{writeup.author}}</b></h5><br><br>
<p style="text-align:justify;">
    {{writeup.content}}
</p>
<br><br>
{% endif %}

{% endblock %}
