{% extends 'main/header.html' %}

{% load static %}

{% block content %}

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>


<div class="container">

<br><br>
<h4 style="text-align:center;"><b>Writeups</b></h4><br><br>
<p style="text-align:justify;"> Writeups are a hacker's way of not only sharing technical methods as an educational tool, but also their way of bragging about their abilities as a hacker. Below are some of the challenges we have completed.<br><br>


{% if all_writeups %}
  <div class="row">
    {% for writeup in all_writeups %}
    <div class="col s12 m5">
      <div class="card">
        <div class="card-image">
	  <img src="{{ writeup.image }}">
	  <span class="card-title">{{ writeup.title }}</span>
        </div>
        <div class="card-content">
	  <p>{{ writeup.description }}</p>
        </div>
        <div class="card-action">
	  <a href="{{ writeup.url }}">Writeup here!</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}



{% endblock %}
