{% extends 'main/header.html' %}

{% block content %}
    <br><br>
    <h4 style="text-align:center;"><b>Login</b></h4>
    <div class="container">
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Login</button>
        </form>
	Don't have an account? <a href="/register" target="blank"><strong>register here</strong></a>!<br>
	Forgot your password? <a href="/accounts/password_reset/"><strong>reset here</strong>!
    </div>
{% endblock %}
