{% if user.is_authenticated %} 
     <li><a href="/writeups">Writeups</a></li>
     <li><a href="/account">{{user.username|title}}</a></li>
     <li><a href="/logout">Logout</a></li>
     <li><a href="/dashboard">Dashboard</a></li>
{% else %}
     <li><a href="/">Home</a></li>
     <li><a href="/about">About us</a></li>
     <li><a href="/writeups">Writeups</a></li>
     <li><a href="/getinvolved">Getting Involved</a></li> 
     <li><a href="/contact">Contact us</a></li>
     <li><a href="/login">Login</a></li>
     <li><a href="/register">Register</a></li>
{% endif %}
