{% if user.is_authenticated %}
     <li class="nav-item mx-3"><a class="nav-link" href="/account">{{user.username|title}}</a></li>
     <li class="nav-item mx-3"><a class="nav-link" href="/logout">Logout</a></li>
     <li class="nav-item mx-3"><a class="nav-link" href="/dashboard">Dashboard</a></li>
{% else %}
     <li class="nav-item mx-3"><a class="nav-link" href="/">Home</a></li>
     <li class="nav-item mx-3"><a class="nav-link" href="/about">About us</a></li>
     <li class="nav-item mx-3"><a class="nav-link" href="/writeups">Writeups</a></li>
     <li class="nav-item mx-3"><a class="nav-link" href="/getinvolved">Getting Involved</a></li>
     <li class="nav-item mx-3"><a class="nav-link" href="/contact">Contact us</a></li>
{% endif %}
