{% extends 'main/header.html' %}

{% block content %}

<h4 style="text-align:center;"><b>CPTC</b></h4><br><br>
<p style="text-align:justify;">Collegiate Penetration Tetsing Competiton tests competitors in their ability to perform a network test. A team of 6 use hacking techniques to break into a network and write their findings ina  report.<br><br>

    <div class="row">
        {% for category in all_categories %}
            <div class="col s12 m6 l4">
                <a href="{{domain.slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{category.title}}</div>
                            <p>{{category.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
<br><br>
{% endblock %}
