{% extends 'main/header.html' %}


{% load static %}
{% block content %}

<br>

<div class="container">
  <h5 style="text-align:center;">Terms and Conditions</h5>
  
  <p style="text-align:justify;"><h6><b>Introduction</b></h6><br><br>
  These terms and conditions govern your use of this website. By using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.<br><br>

  <h6><b>License to use website</b></h6><br><br>
  Unless otherwise stated, FITSEC and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual propery rights are reserved.<br><br>

  You may view, download for caching purposes only, and print pages or challenges from the website for your own personal use, subject to the restrictions below and elsewhere in these terms and conditions.<br><br>

  You must not:<br><br>
  <ol> 
	  <li>republish material from this website (including republication on another website)</li>
	  <li>sell, rent or sub-lease material from the website</li>
	  <li>reproduce, duplicate, copy or otherwise exploit material from tyhis website for a commercial purpose</li>
	  <li>redistribute material from this website</li>
  </ol><br><br>

<h6><b>Acceptable Use</b></h6><br><br>

You must not use this website in any way that causes, or may cause damage to the website or impairment of the availibility or accessibility of the website, or in any way with is unlawful, illegal, fraudulent, or harmful, or in connection with any unlawful, illegal, fruadulent or harmful purpose or activity.<br><br>

You must not use this website to copy, store, host, transmit, send, use, publish, or distribute any material which consists of (or is linked to) any spyware, computer virus, trojan, work, keystroke logger, rootkit, or other malicious computer software.<br><br>

You must not conduct any systematic or authomated data collection activities (including without limitation scraping, data mining, data extraction, and data harvesting) on or in relation to this website without FITSEC's express written consent.<br><br>

You must not use this website to transmit or send unsolicited commercial communications.</br><br>

You must not use this website for any purposes related to marketing without FITSEC's express written consent.<br><br>

<h6><b>Restricted Access</b></h6><br><br>

Access to certain areas of this website is restricted. FITSEC reserves the right to restrict access to ares of this website, or indeed this entire website, and FITSEC's discretion.<br><br>

If FITSEC provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.<br><br>

FITSEC may disable your user ID and password in FITSEC's sole discretion without notice or explanation.<br><br>

<h6><b>User Content</b></h6><br><br>

In these terms and conditions, your user content means material (including without limitation text, images, audio material, video material, audio-visual material, and software) that you submit to this website, for whatever purpose.<br><br>
  </p>
</div>


{% endblock %}
